:root {
  --branding-color: #275e47;

  --box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

body {
  background-color: #a2bb4a;
}

h1 {
  font-family: "Cardo", serif;
  font-size: 55px;
  font-weight: bold;
}

h2 {
  font-family: "Bodoni Moda", serif;
  font-size: 96px;
  margin: 60px 0;
  text-align: center;
}
h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 27px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.hero {
  margin: 150px 150px;
  text-align: center;
}

.photo-homepage {
  width: 75%;
  height: 90%;
}

.info {
  margin-left: 0;
}
.portfolio-button {
  background: var(--branding-color);
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  color: white;

  font-family: "Cormorant Garamond", serif;
  font-size: 15px;

  margin: 20px 100px;
  padding: 15px 40px;

  text-align: center;
  text-decoration: none;
}

.portfolio-button:hover {
  color: white;
}

.portfolio-page {
  background-color: rgb(233, 222, 127);
}
